Package: com.muntadhar.v12vn
Name: V12 VN Protection
Version: 3.0
Architecture: iphoneos-arm
Description: V12 Protection + BulletTrack for VN Version
Maintainer: Muntadhar
Author: Muntadhar
Section: Tweaks
Depends: mobilesubstrate
